body{
  width:90%;
  padding-left:10px;
  text-align:left;
}

h1 {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  color: #000000;
  font-size: 20px;
}

#header{
  background:#EEEEEE;
  height: 65px;
  width:280px;
  padding:5px;
  text-align:center;
  padding:10px;
}

#header h1 .subtitle {
  font-size: 60%;
 }

 h2  {
   font-size: 3em;
   margin: 1em;	
 }


 h3  {
   font-size: 18px;
 }

 h4  {
   font-size: 2em;
   font-weight:bold;
 }
 p, ol{margin:1em;}

 ol li{list-style-type:inherit; margin-left:2em;}

 #stationStart, #stationEnd, #route{
   width:15em;
       margin: 0 0 2.5em;
}

#mainmenu{
  display:none;
  float:right;
}

#mainmenu li{
  display:block;
  float:left;
  margin:.5em;
}

#topsection{margin:auto; 

  font-size: 150%;
  width:90%;}

td {padding: .5em;
  text-align: center;
  font-size: 2.3em;
}


.traintimes{
  margin-right:auto;
  text-align:center;
  width:260px;
}


table.traintimes{


  margin-top:1.5em;
  width:90%;
  border:1px solid black;}

.stationHeader{
  color: red;
  font-weight:bold;
  margin-left: .25em;
}

table.traintimes tr{
  border: 1px solid grey;} 

.traintimes th{text-align:center;
  font-size: 2em;


}

.trainNumber{
  font-size: .50em;
}

#routeSelector{
  margin-top:2em;
  margin-bottom: 2em;
  text-align: center;
  width: 260px;
}


#routeSelector  input, button, textarea, button{
  text-align:center;

}


label{
  font-weight:bold;
  text-align: center;
  font-size: 2em;

}
select, input, button, textarea, button {
      font: 2em arial,helvetica,clean,sans-serif;
    }


.submit {
  width: 20em;
  height: 3em;
}

#routeSelector input{
  margin-top:1.5em;
}

#alerts{
  font-size:2em;
}
